A Python list is an ordered collection of items that can hold different data types, such as integers, floats, strings, or even other lists. Lists are defined using square brackets [] and the elements are separated by commas.

In [2]:
list_=[]  # empty list
list_

[]

In [ ]:
list1=["Data","Science",23,45.2,[2,4,6,8],(2,3,45),{23,45,32,4},{"name":"DSW","source":"YT"}]
list1
 #      0           1      2  3    4      5        6        7                 8          # indexing
# -8                -7        -6     -5       -4         -3         -2                  -1 # reverse indexing

In [ ]:
print(len(list_))
len(list1)

In [20]:
list1[3:-1]           #slicing   [start (n) : end (n-1)]

[45.2, [2, 4, 6, 8], (2, 3, 45), {4, 23, 32, 45}]

In [21]:
list1[::-1]

[{'name': 'DSW', 'source': 'YT'},
 {4, 23, 32, 45},
 (2, 3, 45),
 [2, 4, 6, 8],
 45.2,
 23,
 'Science',
 'Data']

In [26]:
list2=[23,45,67,32,87,23]
print(list2)
list2.append("DSW")
print(list2)

[23, 45, 67, 32, 87, 23]
[23, 45, 67, 32, 87, 23, 'DSW']

In [27]:
list2.remove(23)   # element

In [28]:
list2

[45, 67, 32, 87, 23, 'DSW']

In [29]:
list2.pop(4)    # index 
print(list2)

[45, 67, 32, 87, 'DSW']

In [41]:
list3=[12,34,56,32,68,34,132,132,56]
print(list3)
print(sorted(list3))   # tem change 
print(list3)

[12, 34, 56, 32, 68, 34, 132, 132, 56]
[12, 32, 34, 34, 56, 56, 68, 132, 132]
[12, 34, 56, 32, 68, 34, 132, 132, 56]

In [42]:
list3=[12,34,56,32,68,34,132,132,56]
print(list3)
list3.sort()   # per change 
print(list3)

[12, 34, 56, 32, 68, 34, 132, 132, 56]
[12, 32, 34, 34, 56, 56, 68, 132, 132]

In [45]:
list3=[12,34,56,32,68,34,132,132,56]
print(max(list3))
print(min(list3))
print(sum(list3))
print(len(list3))

132
12
556
9

In [48]:
list3=[12,34,56,32,68,34,132,132,56].extend([23,345,6,89056])  # to merge the 2 list 
list3

In [50]:
list3=[12,34,56,32,68,34,132,132,56]
list3.count(132)

2

In [57]:
list3=[12,34,56,32,68,34,132,132,56]
list3.index(132)

6

In [58]:
list3.pop()
list3

[12, 34, 56, 32, 68, 34, 132, 132]

Here are some key features of Python lists:

1. Mutable: Lists are mutable, meaning you can modify, add, or remove elements after creating the list.

2. Ordered: The elements in a list are ordered and indexed, starting from 0 for the first element, 1 for the second, and so on. This allows for easy access and manipulation of specific elements.

3. Dynamic Size: Lists can dynamically grow or shrink as you add or remove elements. You can change the size of a list during runtime.

4. Flexible Data Types: Lists can hold items of different data types. You can mix integers, strings, floats, and other objects within the same list.

Common operations and methods associated with Python lists include:

- Accessing Elements: You can access elements in a list using their index values. For example, list_name[0] will give you the first element.

- Slicing: You can extract a portion of a list using slicing notation, such as list_name[start:end]. This returns a new list containing the selected elements.

- Modifying Elements: Lists allow you to modify elements by assigning new values to specific indices.

- Adding Elements: You can add elements to a list using the append() method to add at the end, or the insert() method to insert at a specific position.

- Removing Elements: Elements can be removed using methods like remove() to remove a specific value, or del to delete an element at a particular index.

- List Comprehension: Python offers list comprehension, a concise way to create new lists by performing operations on existing lists or iterables.

Python lists are versatile and widely used in various programming tasks, from storing and manipulating data to implementing complex algorithms. Understanding how to work with lists is fundamental to effectively harnessing the power of Python.